

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}


.top-navigation {
	background-color: #fff;
	border-bottom:1px solid LightGray;
	position: fixed;
	z-index: 999;
	width: 100%;
}

.top-navigation>.content{
	width:970px;
	height: 70px;
	padding:0px 90px;
	margin:0 auto;
	
}

.logo{
	height: 70px;
}

.top-navigation .links {
float:right;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
margin-top:25px;
-webkit-font-smoothing: antialiased;

}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

.top-navigation .links > .active{
	color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
	cursor:pointer;
	color:#333333;
}

.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
	color: white;
	text-align: center;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
    font-weight: 300;
    text-align: center;

}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
    font-weight: 100;
}

button {
	border-radius: 4px;
	padding: 1rem 1.5rem;
	text-shadow: none;
	border-style: none;
	text-align: center;
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	padding: 1rem 1.5rem;
	font-size:1.125rem;
	color: white;
}

.case{
	background-color: white;
	overflow: hidden;
	padding-bottom: 5rem;
}

.case .content {
	width: 60%;
	margin: auto;
	margin-top: 7.875rem;
	text-align: center;
}

.case h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
	box-sizing: border-box;;
}
 .case .devices > div  {
	width: 33.333333%;
	float: left;
	box-sizing: inherit;
	padding: 0;
}

.social {
	background-color: white;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;

}
.social .content{
	width: 60%;
	margin:auto;

}

hr{
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}

h5 {
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
    font-size: 100%;
    margin: 0;
}
ul {
	padding-left: 0px;
	margin-top: 0px;
}
.social .icons > li{
display: inline-block;
border-radius: 1.25rem;
width: 2.5rem;
height: 2.5rem;
margin: 1.25rem 5px;
border: 1px solid #eaebec;
padding: 0.625rem 0;
text-indent: center;
}

.icons .twitter {
	color: #55acee;
}

.facebook {
	color: #4c66a4;
}
.instagram {
	color: #3f729b;
}
.copy {
	font-size: 0.938rem;
	font-weight: 300;
	color: #838994
}















